# 所有的环境变量都是可选的

# 当前仅支持 mongodb
DATABASE_TYPE=mongodb
DATABASE_NAME=nmdm-fetcher
DATABASE_HOST=mongodb
DATABASE_PORT=27017
DATABASE_USER=mongoadmin
DATABASE_PASSWORD=not-safe-password

LOGGER_LEVEL=INFO
LOGGER_LOG_FILE_PATH=/data/logs/fetcher.log
LOGGER_LOG_FILE_ROLLOVER_INTERVAL=D
LOGGER_LOG_FILE_INTERVAL=1
LOGGER_LOG_FILE_BACKUP_COUNT=5
LOGGER_LOG_FILE_ENCODING=utf-8
LOGGER_FORMAT=[%(asctime)s][%(name)s/%(threadName)s][%(levelname)s]: %(message)s

API_USER_INFO_URL=http://netease-cloud-music-api:3000/user/detail
# 配置文件路径，留空则不使用
CONFIG_FILE_PATH=